body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ccc;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.hero {
  background-image: url(./imagens/bg-3.jpg);
  height: 600px;
  background-size: cover;
  background-position: right center;
  padding-top: 1px;
}

.hero-content {
  width: 80%;
  margin: 50px auto 0;
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 56px;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px black;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 20px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 14px;
  border-bottom: 3px solid;
}

.hero ul {
  margin: 30px 50px 0 0;
  text-align: right;
}

.hero li {
  display: inline-block;
  list-style-type: none;
  margin-left: 15px;
}

.hero li a {
  display: block;
  border: 1px solid white;
  padding: 15px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
}

main {
  width: 90%;
  margin: auto;
  max-width: 860px;
}

main article {
  background-color: white;
  padding: 15px;
  margin-bottom: 32px;
  margin-top: 32px;
}

main h2 {
  display: block;
  background-color: #d8d8d8;
  padding: 10px;
  border-bottom: 3px solid black;
}

main a {
  display: inline-block;
  background-color: #d8d8d8;
  padding: 10px;
  color: blue;
  border-radius: 5px;
}

footer {
  text-align: center;
  margin-bottom: 20px;
}
